footer {
    background-color: #e9a237;
    padding: 20px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
  
    h3 {
      color: #333;
      font-size: 1.5em;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 8px;
      }
    }
  }
  